*.pyc
.DS_Store

*.png

CODEOWNERS
CONTRIBUTING.md
CPB100/
blogs/
bootcamps/
courses/
data/
datalab/
doc/
iot/
learning_rate.ipynb
quests/
self-paced-labs/
taxi-*.csv
                

# Rather than specifying checkpoint explictly, use an implicit specification.
.ipynb_checkpoints
